[submodule "backend/ai-assist"]
	path = backend/ai-assist
	url = git@github.com:raziell74/oli-backend-ai-assist.git
  branch = master
  ignore = dirty
[submodule "backend/inspections"]
	path = backend/inspections
	url = git@github.com:raziell74/oli-backend-inspections.git
  branch = master
  ignore = dirty
[submodule "backend/core"]
	path = backend/core
	url = git@github.com:raziell74/oli-backend-core.git
  branch = master
  ignore = dirty
[submodule "frontend/marketing"]
	path = frontend/marketing
	url = git@github.com:raziell74/oli-marketing.git
  branch = master
  ignore = dirty
[submodule "frontend/platform"]
	path = frontend/platform
	url = git@github.com:raziell74/oli-platform.git
  branch = master
  ignore = dirty
[submodule "mobile/inspector"]
	path = mobile/inspector
	url = git@github.com:raziell74/oli-inspector-app.git
  branch = master
  ignore = dirty
[submodule "mobile/home-owner"]
	path = mobile/home-owner
	url = git@github.com:raziell74/oli-home-owner-app.git
  branch = master
  ignore = dirty
